In [29]:
import pandas as pd
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 20, 'figure.figsize': (8, 4)})

%matplotlib inline
import matplotlib_inline
matplotlib_inline.backend_inline.set_matplotlib_formats('svg')

import seaborn as sns
sns.set()

In [30]:
df = pd.read_csv("supermarket_sales.csv")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Invoice ID     1000 non-null   object
 1   Branch         1000 non-null   object
 2   City           1000 non-null   object
 3   Customer type  1000 non-null   object
 4   Gender         1000 non-null   object
 5   Product line   1000 non-null   object
 6   Unit price     1000 non-null   float64
 7   Quantity       1000 non-null   int64
 8   Tax 5%         1000 non-null   float64
 9   Total          1000 non-null   float64
 10  Date           1000 non-null   object
 11  Time           1000 non-null   object
 12  Payment        1000 non-null   object
 13  Rating         1000 non-null   float64
dtypes: float64(4), int64(1), object(9)
memory usage: 109.5+ KB

#### Question 1: Example

In [31]:
### how many purchases (rows in the table, not 'Quantity') were done by Male and Female customers?

#### Question 1 - solution: Example

In [32]:
m_amount = len(df[df['Gender'] == 'Male'])
f_amount = len(df[df['Gender'] == 'Female'])

# do not print any intermediate results
# print *only your final* result in the form of a data frame (for clarity)

result = [('purchases by male', m_amount), ('purchases by female', f_amount)]
pd.DataFrame(result)

                     0    1
0    purchases by male  498
1  purchases by female  502

#### Question 2

In [33]:
### what is the average Rating for products in the "Home and lifestyle" Product line?

#### Question 2 - solution

In [42]:
print("testing123")

testing123

#### Question 3

In [34]:
### how many products in each Product line were sold during the first week (days 1-7 including) of February 2019?
### use the 'Quantity' column for that purpose - the number of products purchased

#### Question 3 - solution

In [56]:
wanted_dates = {
    "01/02/2019", "02/02/2019", "03/02/2019",
    "04/02/2019", "05/02/2019", "06/02/2019", "07/02/2019"
}
df_in_dates = df[df['Date'].apply(lambda x: x in wanted_dates)]
filtered_sales_in_date = df_in_dates.groupby('Product line')["Quantity"].sum().reset_index()
all_product_lines = pd.DataFrame(df['Product line'].unique(), columns=['Product line'])
all_sales_in_dates = all_product_lines.merge(filtered_sales_in_date, on='Product line', how= 'left')
all_sales_in_dates = all_sales_in_dates.fillna(0)
print(all_sales_in_dates)

             Product line  Quantity
0  Electronic accessories        38
1     Fashion accessories        42
2      Food and beverages        38
3       Health and beauty        21
4      Home and lifestyle        38
5       Sports and travel        49

#### Question 4

In [35]:
### plot a bar chart showing the number of products per category computed in the previous question

#### Question 5

In [36]:
### plot the same bar chart as above - split by gender (male, female)
### the split bar chart is called stacked bar: look up "plot stacked bar charts from a dataframe" to see how to plot it

#### Question 6

In [37]:
### what is the total sales ('Total') done by each Payment type during the whole period?
### use the full data in the dataset (not the first week of March) from now on

#### Question 7

In [38]:
### plot a chart with total sales ('Total') of the "Sports and travel" products by calendar week (Monday-Sunday): 
### note the first and the last week can be incomplete (for instance, the data starts on Wednesday, and ends on Friday)
### assume all our sales data spans the same year (for instance, 2019)

### you can make use of the isocalendar() function: https://www.geeksforgeeks.org/isocalendar-function-of-datetime-date-class-in-python/

### x axis are weeks enumerated from the first to the last calendar week in the data
### y axis is the total sales that week

#### Question 8

In [39]:
### plot a line chart of total sales ('Total') per hour in our dataset
### the x axis will be an hour (e.g., 9, 10, 11), and the y axis will be the total amout of sales during that hour
### (e.g., for 9 - all sales between 09:00 and 10:00)

#### Question 9

In [40]:
### plot a line chart of the total number of purchases (rows) per hour in our dataset
### the x axis will be an hour (e.g., 9, 10, 11), and the y axis will be the total number of purchases during that hour
### (e.g., for 9 - all sales between 09:00 and 10:00)

#### Question 10

In [41]:
### what is the total income of strategic products by City?

### for each non-strategic product (as detailed in the product_types_strategy.csv file), 
###    display break down of total sales by cities - a table with three columns: 
###    (1) product line, (2) city and (3) total sales (the "Total" column) for that line in the city